.presentationContainer {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    background: #bce7ff;
    overflow: auto;
    padding: 20px 0;
}

.title {
    position: relative;
    font-size: 1.5em;
    right: 500px;
    opacity: 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #fbb764;
}

.paragraph {
    margin-top: 30px;
    position: relative;
    text-align: center;
    right: -500px;
    opacity: 0;
    width: 90vw;
    font-size: 1em;
}
.image {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    position: relative;
    bottom: -500px;
}
.customImg {
    object-fit: contain;
    border-radius: 20px;
    position: relative !important;
    height: unset;
}

@media screen and (min-width: 1081px) {
    .presentationContainer {
        padding: 60px 0;
    }
    .title {
        font-size: 2.5em;
        margin-bottom: 25px;
    }
    .paragraph {
        width: 60vw;
        font-size: 1.4em;
    }
    .customImg {
        max-height: 40vh;
    }
}