.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.titleDetails {
  position: relative;
  right: 200px;
  opacity: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid #fbb764;
}

.paragraph {
  margin-top: 5px;
  position: relative;
  text-align: center;
  right: -200px;
  opacity: 0;
  width: 60vw;
  font-size: 1em;
}

.pDetailsContainer {
  display: flex;
  margin: 30px 0;
  position: relative;
  text-align: center;
  right: -200px;
  opacity: 0;
  width: 95vw;
  font-size: 1em;
}

.pButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.button {
  width: 110px;
  height: 20px;
  font-size: 0.6em;
  line-height: 20px;
  margin: 5px 10px;
  border: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: #fbb764;
}

.button:hover {
  background: #975300;
  color: aliceblue;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 0 32px 0 18px;
  font-size: 0.75em;
}
.links {
  margin-top: -20px;
  font-size: 0.8em;
}

.linksCategories {
  margin-top: 10px;
  font-size: 1.2em;
  text-decoration: underline;
}
.linksYoutube,
.linksPdf {
  margin-top: -8px;
}
.linksYoutube a,
.linksPdf a {
  color: #975300;
}
.linksYoutube a:hover,
.linksPdf a:hover {
  color: #fbb764;
}
.linksPdf {
  margin-bottom: 30px;
}
@media screen and (min-width: 1080px) {
  .content {
    font-size: 1em;
  }
  .titleDetails {
    right: 500px;
    font-size: 2.5em;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    min-height: 100vh;
  }

  .titleDetails {
    right: 500px;
    font-size: 2.5em;
    margin-bottom: 40px;
  }

  .paragraph {
    right: -500px;
    margin-top: 30px;
    font-size: 1.4em;
  }

  .pDetailsContainer {
    right: -500px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.4em;
    max-width: 60vw;
  }

  .pButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .button {
    width: 250px;
    height: 45px;
    font-size: 1em;
    line-height: 45px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background: #fbb764;
  }

  .button:hover {
    background: #975300;
    color: aliceblue;
  }

  .content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    font-size: 1.2em;
  }
}
